table{
    color:rgb(255, 255, 255);
    background-color: gray;
    text-align: center;
    font-family:Arial;
    font-size: 21pt;
    font-weight: bold;
}

body{
    color:rgb(7, 7, 7);
    background-color: darkgrey;
    text-align: center;
    font-family:arial;
    font-size: 21pt;
    font-weight: bold;
}